
/*Font size Paragraph*/
$Font-size-paragraph:16px;

/*Font Weight*/
$Titles:800;
$Sub-titles:600;


/*Font Family*/
$Font-family:'Figtree';
$Link:'https://fonts.google.com/specimen/Figtree';
